@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: "Caveat", cursive;
  background: rgb(var(--background-start-rgb)); /* Set the base color */
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1; /* Ensure the background image is behind the content */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes slide-in {
  from {
    transform: translate(0, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    transform: translate(0, 100px);
    opacity: 1;
  }
  to {
    transform: translate(0, 100px);
    opacity: 0;
  }
}

.animate-cat {
  @apply absolute transition-transform duration-1000 ease-in-out;
  animation: slide-in 1s ease-in-out forwards, slide-out 1s ease-in-out 2s forwards;
}
